.movie-hero{
    position:relative;
    min-height:87vh;
    display:flex;
    align-items:flex-end;
    background-size:cover;
    background-position:center;
    padding:0 3vw 5vw;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    overflow:hidden;
}

.detailHero-movie-overlay{
    position:absolute;
    inset:0;
    z-index:2;
    background:
        linear-gradient(
            to top,
            #1d1e22 0%,
            rgba(29,30,34,.99) 18%,
            rgba(29,30,34,.55) 40%,
            transparent 70%
        ),

        radial-gradient(
            circle at bottom left,
            rgba(29,30,34,.99),
            transparent 65%
        );
}
.detailHero-movie-overlay::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:250px;
    background:linear-gradient(to bottom,transparent,rgba(29, 30, 34, 0.95));
}
.movie-backdrop{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:0;
    transition: opacity 0.8s ease;
}
.movie-backdrop.hidden{
    opacity:0;
}
.movie-video-wrapper{
    position:absolute;
    inset:0;
    overflow:hidden;
    z-index:0;
    opacity:0;
    transition: opacity 0.8s ease;
}
.movie-video-wrapper.visible{
    opacity:1;
}
.movie-trailer{
    position:absolute;
    top:50%;
    left:50%;
    width:120vw;
    height:67.5vw;
    min-width:100%;
    min-height:100%;
    transform:translate(-50%,-50%);
    border:none;
    pointer-events:none;
}
.movie-content {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 650px;
}
.movie-content h1 {
    font-size: clamp(2rem, 5vw, 3.2rem);
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.15;
    margin-bottom: 1rem;
}
.movie-top-buttons {
    position: absolute;
    top: 1.5rem;
    left: 5%;
    right: 5%;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}
.back-button,
.volume-button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.12);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: #CFCFCF;
    transition: background 0.4s ease, transform 0.3s ease;
    
}
.back-button:hover,
.volume-button:hover{
    background:#CFCFCF;
    color:#1d1e22;
    transform: scale(1.1);
}
.movie-meta{
    max-width:fit-content;
    display:flex;
    flex-wrap:wrap;
    gap:1rem 1.2rem;
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
    font-weight: 500;
    margin-bottom: 1rem;
}
.movie-meta span {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.movie-genres{
    display:flex;
    gap: 0.6rem;
    flex-wrap:wrap;
    margin-bottom: 1rem;
}
.movie-genres span{
    padding:0.5rem 1rem;
    border-radius: 20px;
    background:rgba(255,255,255,.12);
}


.movie-description{
    max-width: 650px;
    line-height: 1.5;
    color: #d7d7d7;
    margin-bottom: 1.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.movie-actions{
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
}
.movie-actions button{
    padding: 0.75rem 1.4rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    font-weight: 600;
    
    transition: .4s ease;
}
.play-button{
    background: #CFCFCF;
    color:#1d1e22;
}
.favorite-button{
    background: rgba(255, 255, 255, 0.12);
    color:#CFCFCF;
}
.play-button:hover{
    background: rgba(255, 255, 255, 0.12);
    color:#CFCFCF;
}
.favorite-button:hover{
    background: #CFCFCF;
    color:#1d1e22;
}
.movie-actions button:hover{
    transform:translateY(-2px);
}
@media (max-width: 480px) {
    .movie-hero {
        min-height: 75vh;
        padding-top: 5rem;
    }
    
}