VITE_TMDB_API_KEY=
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_IMAGE_URL=https://image.tmdb.org/t/p/original
VITE_EMBED_PRIMARY=https://vidsrcme.ru/embed
VITE_EMBED_SECONDARY=https://vidsrc.sbs/embed
VITE_PLAYER_COLOR=e50914
