.movie-player{

    min-height:100vh;

    background:#1d1e22;

    color:#CFCFCF;

}

.watch-container{

    width:min(1400px,95%);

    margin:auto;

    padding:2rem 0 4rem;

}

.player-back{

    width:3rem;
    height:3rem;

    border:none;

    border-radius:50%;

    margin-bottom:2rem;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    color:#CFCFCF;

    background:rgba(255,255,255,.12);

    transition:.3s;

}

.player-back:hover{

    background:#CFCFCF;

    color:#1d1e22;

}