.movie-player{
    width:100%;
    height:100vh;
    background:#000;
    overflow:hidden;
    position:relative;
}

.movie-player iframe{
    width:100%;
    height:100%;
    border:none;
}

.player-back{
    position:absolute;
    top:25px;
    left:25px;

    width:48px;
    height:48px;

    border:none;
    border-radius:50%;

    background:rgba(0,0,0,.45);
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    z-index:5;

    transition:.3s;
}

.player-back:hover{
    background:white;
    color:black;
}