.movie-page{
    background:#1d1e22;
    min-height:100vh;
    color:#CFCFCF;
}
.movie-hero{
    position:relative;
    min-height:95vh;
    display:flex;
    align-items:flex-end;
    background-size:cover;
    background-position:center;
    padding:0 3vw 5vw;
}

.movie-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(29, 30, 34, 0.45) 10%, transparent 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.movie-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
}
.movie-top-buttons {
    position: absolute;
    top: 1.2rem;
    left: 3vw;
    right: 3vw;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.back-button,
.volume-button{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.12);
    color: #CFCFCF;
    transition: background 0.4s ease, transform 0.3s ease;
}
.back-button:hover,
.volume-button:hover{
    background:#CFCFCF;
    color:#1d1e22;
    transform: scale(1.1);
}

.movie-info-container h1{
    font-size: 5rem;
    margin-bottom: 1.2rem;
    color:#CFCFCF;
}
.movie-meta{
    display:flex;
    gap:1.5rem;
    color:#CFCFCF;
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
}
.movie-genres{
    display:flex;
    gap: 1rem;
    flex-wrap:wrap;
    margin-bottom: 1.2rem;
}
.movie-genres span{
    padding:0.5rem 1rem;
    border-radius: 20px;
    background:rgba(255,255,255,.12);
}
.movie-description{
    max-width: 650px;
    line-height: 1.5;
    color: #d7d7d7;
    margin-bottom: 1.2rem;
}
.movie-actions{
    display:flex;
    gap:1rem;
}
.movie-actions button{
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.65rem;
    transition: .4s ease;
}
.play-button{
    background: #CFCFCF;
    color:#1d1e22;
}
.favorite-button{
    background: rgba(255, 255, 255, 0.12);
    color:#CFCFCF;
}
.play-button:hover{
    background: rgba(255, 255, 255, 0.12);
    color:#CFCFCF;
}
.favorite-button:hover{
    background: #CFCFCF;
    color:#1d1e22;
}
.movie-actions button:hover{
    transform:translateY(-2px);
}