.player-notice{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color:#9c9c9c;
    font-style:italic;
    text-align:center;
}

.player-notice p{
    margin-bottom:0.35rem;
}