.server-selector{
    display:flex;
    gap:.8rem;
    flex-wrap:wrap;
    margin-bottom:1rem;
    justify-content:center;
}
.server-selector button{
    width:fit-content;
    flex:1 1 auto;
    padding: 0.75rem 1.2rem;
    border:none;
    border-radius: 0.75rem;
    background: rgba(255,255,255,.12);
    color:#CFCFCF;
    cursor:pointer;
    transition:.3s ease;
}
.server-button:hover{
    background: rgba(255,255,255,.18);
}
.server-button.active{
    background:#CFCFCF;
    color:#1d1e22;
}