.movie-row{
    padding: 1.5rem 2rem;
    width: 100%;
    box-sizing:border-box;
}
.row-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 0.7rem;
}
.row-buttons{
    display:flex;
    gap: 0.8rem;
}
.row-buttons button{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border:none;
    display: flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    background:rgba(255,255,255,.12);
    color:#CFCFCF;
    transition: all .3s ease;
}
.row-buttons button:hover{
    background:#CFCFCF;
    color:#141414;
    transform:scale(1.1);
}
.row-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #CFCFCF;
    
}
.movie-list{
    display:flex;
    gap: 1.2rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0.5rem 0.2rem 1rem 0.2rem;
    scroll-behavior:smooth;
    scrollbar-width: none; /* For Firefox */
}
.movie-list::-webkit-scrollbar{
    display: none;
}
@media (max-width: 768px){
    .movie-row{
        padding: 1rem 1.5rem;
    }
    .row-buttons{
        display:none;
    }
}